@model IEnumerable<Tp_promoción_peliculas_cravero.Models.MovieActor>

@{
    ViewData["Title"] = "Peliculas y actores";
}

<h1>Inicio de peliculas y actores</h1>

<p>
    <a asp-action="Create">Crear nueva pelicula y actor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Film.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Biography)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Detalles", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Borrar", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
