@model IEnumerable<Tp_promoción_peliculas_cravero.Models.Film>

@{
    ViewData["Title"] = "Peliculas";
}

<h1>Inicio de peliculas</h1>

<p>
    <a asp-action="Create">Crear nueva pelicula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.billboard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <img src="~/Image/Movies/@item.Photo" alt="Imagen de pelicula" height="80" width="80" asp-append-version="true"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trailer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genders.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.billboard)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
